In [12]:
import warnings
warnings.filterwarnings("ignore")

## 01. Series(시리즈)

In [ ]:
#딕셔너리를 시리즈로 변환

import pandas as pd 

dict_data = {'a':1, 'b':2, 'c':3} # 딕셔너리
sr = pd.Series(dict_data)

print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [ ]:
#리스트를 시리즈로 변환
import pandas as pd 

list_data = ['2019-01-02', 3.14, 'ABC', 100, True] #리스트 
sr = pd.Series(list_data)
print(sr)
print('\n')

idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

#1차원 데이터

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object


RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [ ]:
#튜플을 시리즈로 변환
tup_data = ("영인", "2010-05-01", '여', True)
sr = pd.Series(tup_data, index=["이름", "생년월일", "성별", "학생여부"]) #인덱스를 지정한 것( 데이터와 1대1 매칭되어야 함)
print(sr)
print('\n')

#원소를 1개 선택 
print(sr[0])
print(sr['이름'])
print('\n')

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object


영인
영인

In [16]:
# '생년월일', '성별' 추출 

# 여러개의 원소를 선택 (인덱스 리스트 활용 : 인덱싱)
print(sr[[1,2]] )
print('\n')
print(sr[['생년월일', '성별']])
print('\n')



# 여러개의 원소를 선택 (인덱스 범위 지정 : 슬라이싱)
print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

## 02. DataFrame(데이터프레임)

* dict to dataframe

In [ ]:
import pandas as pd 

dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]} #딕셔너리는 세로로 나온대

df = pd.DataFrame(dict_data)
print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
import pandas as pd

df = pd.DataFrame([[15, '남', '덕영준'], [17,'여', '수리중']], 
                  index = [ '준서', '에은'],    # 행에 대한 키 값 
                  columns = ['나이', '성별', '학교']) # 열에 대한 키 값 

print(df)           # 데이터 프레임
print('\n')
print(df.index)     # 행 인덱스 (데이터 아님 )
print('\n')
print(df.columns)   # 열 이름 (데이터 아님)

    나이 성별   학교
준서  15  남  덕영준
에은  17  여  수리중


Index(['준서', '에은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [27]:
df.index=['학생1', '학생2']
df.columns=['연령', '남녀', '소속']


print(df)           # 데이터 프레임
print('\n')
print(df.index)     # 행 인덱스
print('\n')
print(df.columns)   # 열 이름

     연령 남녀   소속
학생1  15  남  덕영준
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

* rename

In [28]:
import pandas as pd

df = pd.DataFrame([[15, '남', '덕영준'], [17,'여', '수리중']], 
                  index = [ '준서', '에은'], 
                  columns = ['나이', '성별', '학교'])

print(df)           # 데이터 프레임
print('\n')
df.rename(columns={'나이': '연령', '성별': '남녀', '학교':'소속'}, inplace= True )
df.rename(index= {'준서': '학생1', '예은':'학생2' }, inplace= True )

print(df)

    나이 성별   학교
준서  15  남  덕영준
에은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영준
에은   17  여  수리중

* drop (삭제)

In [1]:
# remove row 
import pandas as pd 

exam_data = { '수학' : [90,80,70], '영어': [98,89,95],
              '음악' : [85,95,100], '체육' : [100, 90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현', '인아'])
print(df) 
print('\n') 

df2 = df.copy()
df2.drop('우현', axis = 0, inplace=True) #axis : 행 삭제(0), 열 삭제(1), inplace : 원본데이터 수정(T), 복제(F)
print(df2)
print('\n')

df3 = df.copy()
df3.drop(['우현','인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  98  85  100

In [ ]:
# remove column 

import pandas as pd 

exam_data = { '수학' : [90,80,70], '영어': [98,89,95],
              '음악' : [85,95,100], '체육' : [100, 90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현', '인아'])
print(df) 
print('\n') 

df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)  #axis : 행 삭제(0), 열 삭제(1), inplace : 원본데이터 수정(T), 복제(F)
print(df4)
print('\n')

df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

* select(검색)

In [43]:
# select row


import pandas as pd 

exam_data = { '수학' : [90,80,70], '영어': [98,89,95],
              '음악' : [85,95,100], '체육' : [100, 90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현', '인아'])

#행 인덱스를 사용하여 행1개를 선택 
label1= df.loc[['서준']]    # loc 인덱서 활용
position1 = df.iloc[[0]]    # iloc 인덱서 활용
print(label1)
print('\n')
print(position1)
print('\n')


#행 인덱스를 사용하여 2개 이상의 행 선택 
label2= df.loc[['서준', '우현']]
position2 = df.iloc[[0,1]]
print(label2)
print('\n')
print(position2)
print('\n')

# 행 인덱스의 범위를 저장하여 행 선택 
label3= df.loc['서준' :'우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)
print('\n')

    수학  영어  음악   체육
서준  90  98  85  100


    수학  영어  음악   체육
서준  90  98  85  100


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [52]:
# select column
import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [56]:
#수학 점수 데이터만 선택. 변수 math1에 저장
math1= df['수학']
print(math1)
print(type(math1))
print('\n')

#영어 점수 데이터만 선택, 변수 english에 저장
english= df.영어
print(english)
print(type(english))
print('\n')

#음악, 체육 점수 데이터를 선택. 변수 music_gym에 저장
music_gym= df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

#수학 점수 데이터만 선택 . 변수 math2에 저장. : 결곽값 데이터 포함
math2= df[['수학']] # 데이터가 하나여도, 변수가 하나일 때 곽 괄호를 두개 사용 할 수 있음. 이때는 타입이 데이터 프레임으로 나옴. (하나일 때는 시리즈로 나옴. )
print(math2)
print(type(math1))
print('\n')

0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>


    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.series.Series'>

In [1]:
# select element

import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)

# '이름'열을 새로운 인덱스로 지정 
df.set_index('이름', inplace=True)
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [68]:
# 85만 추출해보기

a = df.loc['서준']['음악']
print(a)

a= df.loc['서준', '음악']
print(a)

b = df.iloc[0, 2]
b

85
85

np.int64(85)

In [73]:
#서준이의 음악, 체육 값
c = df.loc['서준', ['음악', '체육']]
print(c)
print('\n')

d = df.iloc[0, [2,3]]
print(d)
print('\n')

e = df.loc['서준', '음악':'체육']
print(e) 
print('\n')

f = df.iloc[0,2:]
print(f) 
print('\n')

음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64


음악     85
체육    100
Name: 서준, dtype: int64

In [79]:
c = df.loc[ ['서준', '우현'], ['음악', '체육']]
print(c)
print('\n')

d = df.iloc[[0,1], [2,3]]
print(d)
print('\n')

e = df.loc['서준':'우현', '음악':'체육']
print(e) 
print('\n')

f = df.iloc[:2,2:]
print(f) 
print('\n')

    음악   체육
이름
서준  85  100
우현  95   90


    음악   체육
이름
서준  85  100
우현  95   90


    음악   체육
이름
서준  85  100
우현  95   90


    음악   체육
이름
서준  85  100
우현  95   90

* add(추가)

In [84]:
# 열 추가
import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)

df['국어'] = '80'
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [86]:
# 행 추가
import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)

#새로운 행을 추가 - 같은 원소값을 입력 
df.loc[3] = 0
print(df)
print('\n')

#새로운 행을 추가 - 원소 값 여러개의 배열 입력 
df.loc[4] = ['동규', 90,100,70,90]
print(df)
print('\n')

#새로운 행을 추가 - 기존 행을 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학   영어   음악   체육
0  서준  90   98   85  100
1  우현  80   89   95   90
2  인아  70   95  100   90
3   0   0    0    0    0
4  동규  90  100   70   90


    이름  수학   영어   음악   체육
0   서준  90   98   85  100
1   우현  80   89   95   90
2   인아  70   95  100   90
3    0   0    0    0    0
4   동규  90  100   70   90
행5   0   0    0    0    0

* modify 수정

In [24]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)

df.set_index('이름', inplace=True) 
# inplace = T ; 변경된 내용을 원본 데이터로 저장. 
# F ; 변경된 내용을 별도 저장 ( 원본 데이터 유지 )

print(df)
print('\n')

df.iloc[0][3] = 80 
print(df)
print('\n')

df.loc['서준']['체육'] = 90 
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 50 
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 100, 50 
print(df)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

* transpose : 행열 위치 바꾸기

In [1]:
import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)
print(df)
print('\n')

#데이터프레임 df를 전치하기 (메소드 활용) 
df= df.transpose()
print(df)
print('\n')

#데이터프레임 df를 다시 전치하기 (클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

* set_index

In [16]:
import pandas as pd 

exam_data = {'이름': ['서준', '우현', '인아'], 
             '수학': [ 90,80,70], 
             '영어': [98,89,95], 
             '음악': [85,95,100], 
             '체육': [100,90,90] }

df= pd.DataFrame(exam_data)
print(df)
print('\n')

ndf = df.set_index(['이름']) # 원본 데이터 변경이 안되고 return 값으로 처리해야 함.
print(ndf)
print('\n')
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [21]:
ndf = df.set_index(['이름'])
print(ndf)
print('\n')

ndf2 = ndf.set_index('음악')
print(ndf2)
print('\n')

# 멀티 인덱스
ndf3 = ndf.set_index(['수학', '음악'])
print(ndf3)
print('\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90


        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

* reindex

In [28]:
import pandas as pd 

dict_data = {'c0':[1,2,3],'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]  }

#딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0,r1,r2]로 지정

df = pd.DataFrame(dict_data,  index=['r0','r1','r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [29]:
# 인덱스를 [r0,r1,r2,r3,r4]로 재 지정

new_index= ['r0','r1', 'r2', 'r3' ,'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

# 아웃 풋을 0으로 짖ㅇ. 
new_index= ['r0','r1', 'r2', 'r3' ,'r4']
ndf = df.reindex(new_index, fill_value=0 )
print(ndf)
print('\n')

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN


    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

In [30]:
df

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [31]:
# 행 인덱스를 정수형으로 초기화

ndf = df.reset_index()
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

* sort

In [32]:
import pandas as pd 

dict_data = {'c0':[1,2,3],'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]  }

#딕셔너리를 데이터프레임으로 변환. 인덱스를 [r0,r1,r2]로 지정

df = pd.DataFrame(dict_data,  index=['r0','r1','r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [34]:
# 기본으로 오름차순 (ascending= True )
ndf = df.sort_index()
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [35]:
#내림차순으로 행 인덱스 정렬 

ndf = df.sort_index(ascending= False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [36]:
# c1 열을 기준으로 내림차순 정렬 

ndf = df.sort_values(by = 'c1', ascending= False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

* series 연산

In [37]:
import pandas as pd 

student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)
print('\n')

percentage = student1/200

print(percentage)
print('\n')
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64


국어    0.50
영어    0.40
수학    0.45
dtype: float64


<class 'pandas.core.series.Series'>

In [58]:
import pandas as pd 

student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student2 = pd.Series({'수학': 80, '국어':90, '영어':80})

addition = student1 + student2
subtraction = student1 - student2  
multiplication = student1 * student2  
division = student1 / student2 # float으로 결과 값이 나옴. 
print(type(division)) 

#사칙연산 결과를 데이터프레임으로 합치기(시리즈 -> 데이터프레임)


result = pd.DataFrame([addition, subtraction, multiplication, division], 
                    index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

<class 'pandas.core.series.Series'>
              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [59]:
import pandas as pd 
import numpy as np

student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학': 80, '국어':90, })

print(student1)
print('\n')
print(student2)
print('\n')

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64

In [60]:
sr_add = student1.add(student2, fill_value=0) #덧셈
sr_sub = student1.sub(student2, fill_value=0) #뺄셈
sr_mul = student1.mul(student2, fill_value=0) #곱셈
sr_div = student1.div(student2, fill_value=0) #나눗셈

result = pd.DataFrame([sr_add ,sr_div, sr_mul, sr_div], 
                    index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈    0.0     1.125   inf
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

* DataFrame 연산

In [87]:
# !pip install seaborn

In [72]:
import matplotlib.pyplot as plt 
import seaborn as sns 

titanic = sns.load_dataset('titanic')
print(type(titanic))
print(titanic.head()) # 기본 5개
print('-' * 80)
print(titanic.tail())
# fig = plt.figure( figsize=(15,5))

<class 'pandas.core.frame.DataFrame'>
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
--------------------------------------------------------------------------------
     survived  pclass     sex   age  sibsp  parch   fare embarked   class  \
886         0       2    male  27.0      0      0  13.00        S  Second
887         1       1  female  19.0      0      0  30.00        S   First
888         0       3  female   NaN      1      2  23.45        S   Third
889         1       1    male  26.0      0      0  30.00        C   First
890         0       3    male  32.0      0      0   7.75        Q   Third

       who  adult_male deck  embark_town alive  alone
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

In [81]:
# age, fare 열만 뽑기  
df = titanic.loc[:, ['age','fare']] #모든 행, []특정 열 
df.head()

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [85]:
#모든 요소에 10을 더할거래. 
addition = df + 10 
addition.head()

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

In [86]:
subtraction = addition - df 
subtraction.head()

    age  fare
0  10.0  10.0
1  10.0  10.0
2  10.0  10.0
3  10.0  10.0
4  10.0  10.0