### 01.리스트

#### 인덱싱

In [4]:
a= [1,2,3]
a

[1, 2, 3]

In [5]:
a[0]

1

In [6]:
a[0] + a[2]

4

In [7]:
a[-1]

3

In [9]:
a = [1,2,3, ['a', 'b','c']]
a[3]

['a', 'b', 'c']

##### 슬라이싱

In [14]:
# 두 표시 방법은 동일하다.
a[0:2], a[:2]

([1, 2], [1, 2])

##### 연산하기

In [15]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [16]:
a *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
len(a)

3

##### 수정/삭제

In [21]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [23]:
# 요소 삭제 (del)
a = [1,2,3]
del a[1]
a

[1, 3]

##### 함수들

In [25]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [26]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [28]:
# 정렬(sort)
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [30]:
# 뒤집기(reverse)
a = [ 'a', 'b', 'c' ]
a.reverse()
a

['c', 'b', 'a']

In [35]:
#인덱스 반환(index) 위치를 알려줌
a = [1,2,3]
print(a.index(3))
print(a.index(1))

2
0

In [37]:
# 요소 삽입(insert)
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [39]:
# 요소 제거(remove) _ 해당 위치 값을 제거 하는 거임! 데이터3 지우는거 아님 
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [43]:
# 요소 끄집어내기(pop) _ 마지막에 넣은 것을 먼저 꺼냄 
a = [1,2,3]
a.pop()

3

In [44]:
a

[1, 2]

In [46]:
#요소 x의 개수 세기 (count)
a = [1,2,3,1]
a.count(1)

2

In [49]:
#확장(extend)
a = [1,2,3]
a.extend( [4,5] )
a

[1, 2, 3, 4, 5]

### MISSION

* 이진우씨의 과목뵬 점수는 각각 다음과 같다. 평균 점수를 구하자.

In [52]:
a = 90
b = 88
c = 98
(a+b+c) / 3

92.0

In [55]:
a = 90
b = 88
c = 98
sum([a,b,c])/len([a,b,c])

92.0

* 특정숫자 13이 홀수인지 짝수인지 판별해보자. (%)

In [63]:
#1이라고 나오면 홀 수, 0나오면 짝수 
13 % 2, 4 % 2

(1, 0)

* 임수진씨의 주민번호는 011120-2068234이다. 주민등록번호를 연월일(YYYYMMDD) 부분과 숫자 뒷부분으로 나누어 출력해 보자.
  (술라이싱으로)

In [75]:
pin = '011120-2068234'
pin

'011120-2068234'

In [74]:
pin[:6] , pin[7:]

('011120', '2068234')

* 남자인지 여자인지 구분해보자.

In [80]:
pin = '011120-2068234'
if pin[7] == '1' :
    print("남자입니다.")
else :
    print("여자입니다.")

여자입니다.

* a:b:c:d 문자열이 있다. 이 문자열을 a#b#c#d로 바꾸어보자 ( 끼워넣는게 아니라 바꾸기 :을 #으로)

In [96]:
a = 'a:b:c:d'
a.replace(":", "#")

'a#b#c#d'

In [97]:
a 
# replace는 원래 a는 보존하고, 클론을 만든거.
# 그래서 다시 a를 찍으면 원래 a값이 나옴.

'a:b:c:d'

* [1, 3, 5, 4, 2]를 [5,4,3,2,1]로 만들기

In [98]:
a = [1, 3, 5, 4, 2]
a.sort() 
# sort는 a를 찍지 않으면 출력되지 않음. 
# 근데 위에 replace는 바로 값이 나옴. 
# 이 차이는 a를 바로 바꾸는지, 아니면 a의 클론을 만들어서 a의 클론을 출력하는 형식인지의 차이. 
# 위에는 클론을 넘겨준 것, sort는 a 자체를 변경시킨 것. 

a.reverse()
a

[5, 4, 3, 2, 1]

In [100]:
a
#a값 자체가 변경되었음

[5, 4, 3, 2, 1]

* ['life' ,'is','too', 'short']리스트를 life is too short 문자열로 만들어서 출력

In [104]:
a = ['Life' ,'is','too', 'short']
" ".join(a)

'Life is too short'

* nums = [1,2,3,4,5,6]리스트에서 짝수만 출력하기

In [141]:
nums = [1,2,3,4,5,6] 
for x in range(len(nums)):
    print(nums[x])

1
2
3
4
5
6

In [140]:
nums = [1,2,3,4,5,6] 
for x in nums : 
    if x % 2 == 0 :
        print("짝수")
    else:
        print("홀수")

홀수
짝수
홀수
짝수
홀수
짝수

In [139]:
nums = [1,2,3,4,5,6] 
for x in nums : 
  if x % 2 == 0 :
        print(x)

2
4
6

## 02.튜플 _ read only

리스트와 비슷하지만, 저장할 수 있는 자료. 
한번 만들면 수정할 수 없음 
중복 허용 
대괄호 [] → 리스트, 
소괄호 () 또는 쉼표만 → 튜플

In [1]:
t1 = () 
t2 = (1,) #값 하나만 넣어도 꼭 쉼표가 들어가야 함. 
t3 = (1,2)
t4 = (1,2,3) 
t5 = ( 'a', 'b', ('ab', 'cd'))

In [144]:
# 요솟값 삭제 __ 오류 남 ; reaf only라서
t1 = (1, 2, 'a', 'b') 
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [145]:
# 요솟값 변경 error
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [147]:
# 인덱싱
t1[0], t1[3]

(1, 'b')

In [149]:
# 슬라이싱 
t1[1:]

(2, 'a', 'b')