In [4]:
# type1 : 입력값/결괏값이 없는 함수
def say() : 
    print('Hi')
# 이것만 치면 실행 안됨. 얘는 그냥 say()의 정의. 

say()

Hi

In [6]:
# type2 : 입력값만 있는 함수
def add(a,b) : 
    result = a+b
    print(result) 
# 입력값은 a,b 
add(3,4)

7

In [17]:
a = add(3,4)

7

In [13]:
print(a)
# return이 없는 값이기 때문에, 나오지 않음.

None

In [18]:
# type3 : 결괏값만 있는 함수
def say():
    return 'Hi'

print(say()) # say() = hi와 동일.

Hi

In [14]:
a = say()
a

'Hi'

In [15]:
print(a)

Hi

In [19]:
# type4 : 입력값과 결괏값이 있는 함수
def add(a,b) : 
    result = a+b
    return result

c = add(3,5)
c

8

In [20]:
print(c)

8

In [22]:
# 매개변수 지정하여 호출
def add(a,b) : 
    return a+b
    
result = add(b=7, a=3)
print(result)

10

In [29]:
# 입력값이 몇개가 될 지 모를 때. =
def add_many(*args) :
    print(args)
    result = 0
    for i in args:
        result = result + i 
    return result 

result =  add_many(1,2,3) 
print(result) 
#return값이 없는데 넣어서 none이 나옴

(1, 2, 3)
6

In [30]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [90]:
def add_mul(choice, *args) : 
    
    if choice == "add" : 
        result = 0 
        for i in args: 
            result = result + i 
    elif choice == "mul" :
        result = 1
        for i in args: 
            result = result * i  
            
    return result

In [91]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [92]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

In [124]:
''' GPT 문제 
calc_numbers라는 함수를 작성하세요.
첫 번째 매개변수 choice는 'max', 'min', 'avg' 중 하나입니다.
나머지 매개변수(*args)로 여러 숫자가 들어옵니다.
choice가 'max'면 가장 큰 값을, 'min'이면 가장 작은 값을, 'avg'면 평균값을 반환하세요.
'''

def calc_numbers( choice , *args ) : 
        if choice == "max" :  
            result= max(args)
            
        elif choice == "min" :
            result= min(args)
            
        elif choice == "avg" : 
            result = sum(args)/len(args) 
            
        return result

In [123]:
result = calc_numbers('max', 5,1,9,3)
print(result)
result = calc_numbers('min', 5,1,9,3)
print(result) 
result = calc_numbers('avg', 5,1,9,3) 
print(result)

9
1
4.5

In [101]:
#키워드 파라미터의 경우 별 두개! 
def print_kwargs(**kwargs) :
    print(kwargs)

print_kwargs(a=1)
print_kwargs(name = 'foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [97]:
#함수의 결괏값은 언제나 하나. 
def add_and_mul(a,b) : 
    return a+b, a*b 

result = add_and_mul(3,4)
result

(7, 12)

In [109]:
#함수의 결괏값은 언제나 하나. 
def add_and_mul(a,b) : 
    return a+b
    return a*b 

result = add_and_mul(3,4)
result

7

In [126]:
# return의 추가 기능
def say_nick(nick) : 
    if nick == "바보":
        return #함수를 빠져나가고 싶을 때 사용 
    print("나의 별명은 %s 입니다." % nick) 

say_nick('야호')

나의 별명은 야호 입니다.

In [134]:
say_nick('바보') #return때문에 함술르 빠져 나옴

In [135]:
say_nick('집')

나의 별명은 집 입니다.

In [140]:
# 매개변수에 초갓값 미리 설정
def say_myself(name, old, man= True): 
    print("나의 이름은 %s입니다." %name) 
    print("나이는 %d살 입니다." %old) 

    if man : 
        print("남자 입니다.") 
    else : 
        print("여자입니다. ")

In [141]:
say_myself('임수진',25, False)

나의 이름은 임수진입니다.
나이는 25살 입니다.
여자입니다.

In [142]:
say_myself('임정한',23)

나의 이름은 임정한입니다.
나이는 23살 입니다.
남자 입니다.

In [146]:
# 초깃값은 중간에 설정하면 안됨

def say_myself(name, man= True, old ): 
    print("나의 이름은 %s입니다." %name) 
    print("나이는 %d살 입니다." %old) 

    if man : 
        print("남자 입니다.") 
    else : 
        print("여자입니다. ") 

say_myself('임정한',23)

SyntaxError: parameter without a default follows parameter with a default (1643681982.py, line 3)

In [156]:
#함수 안에서 선언한 변수의 효력 범위 => 내부에서만 사용
#error ㅣ a=1의 공간과 함수 vartest안에서 선언된 a는 다른 메모리 영역에 있어서 공유되지 않음. 

a =  1 
def vartest(a) : 
    a = a + 1 

vartest(a) 
print(a)

1

In [171]:
#함수 안에서 선언한 변수의 효력 범위 => 내부에서만 사용
#error ㅣ a=1의 공간과 함수 vartest안에서 선언된 a는 다른 메모리 영역에 있어서 공유되지 않음. 

a= 1
def vartest(a) : 
    a = a + 1 

vartest(a) 
print(a)

1

In [174]:
#위 error에 대한 해결 방법 1 : return 사용 

a =  1 
def vartest(a) : 
    a = a + 1 
    return a # a를 밖으로 꺼내겠다

a = vartest(a) 
print(a)

2

In [162]:
#위 error에 대한 해결 방법 2 : global 사용 

a =  1 
def vartest() : 
    global a 
    a = a + 1 

vartest() 
print(a)

2

In [179]:
# lambda
add = lambda a, b : a+b 
result = add(3,4) 
print(result)

7

In [182]:
def add(a,b): 
    return a + b 

result = add(3,4) 
print(result)

7